#login-box {
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	padding: 1em;
}

.card-account-data .mdl-card__media {
	font-size: 3em;
	height: 2em;
	text-align: right;
	padding: 1em;
	background: inherit;
}

.card-account-data .mdl-card__media {
	font-size: 3em;
	height: 2em;
	text-align: right;
	padding: 1em;
	background: inherit;
}

.card-registered-tags .mdl-card__media {
	background: inherit;
}

.card-registered-tags .mdl-card__media table {
	width: 100%;
}

.card-registered-tags .mdl-card__media .no-registered-tags {
	font-size: 3em;
	padding: 1em;
	background: inherit;
}

.card-last-transactions table {
	width: 100%;
}

.mdl-cell {
	min-width: 25em;
}

.mdl-card {
	max-width: 100%;
	width: 400px;
}

.mdl-card__title {
	background: rgb(0, 188, 212);
}
