<style>
.mdl-card__actions {
  display: flex;
  align-items: center;
}
</style>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col mdl-cell--4-offset">
    <div class="mdl-card mdl-shadow--2dp" id="add-card-box">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Edit Card {{ printf "%x" .Card.UID }}</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <p>{{ .Message }}</p>
      </div>
      <div class="mdl-card__supporting-text">
        <form method="POST">
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" name="description" tabindex="1" value="{{ .Card.Description }}"/>
            <input type="hidden" name="uid" value="{{ printf "%x" .Card.UID }}"/>
            <label class="mdl-textfield__label" for="description">Beschreibung</label>
          </div>
          <div class="mdl-card__actions">
            <div class="mdl-layout-spacer"></div>
            <button class="mdl-button mdl-button--colored mdl-js-button
            mdl-js-ripple-effect" type="submit" formaction="/update_card.html">
              Save
            </button>
            <button class="mdl-button mdl-button--colored mdl-js-button
            mdl-js-ripple-effect" type="submit" formaction="remove_card.html">
              Remove Card
            </button>
            <button class="mdl-button mdl-button--colored mdl-js-button
            mdl-js-ripple-effect" type="submit" formaction="/dashboard.html">
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

