<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ .Title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/material.min.css">
		<link rel="stylesheet" href="/static/main.css">
		<script src="/static/material.min.js"></script>
		<!-- TODO: Host font locally -->
		<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
	</head>
	<body>
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		 	<header class="mdl-layout__header">
				<div class="mdl-layout__header-row">
					<!-- Title -->
					<span class="mdl-layout-title">{{ .Title }}</span>
					<!-- Add a spacer to align logout to the right -->
					<div class="mdl-layout-spacer"></div>
					{{if ne .Title "Login"}}
					<a class="mdl-navigation__link" href="/logout.html">Logout</a>
					{{end}}
				</div>
			</header>
		<main class="mdl-layout__content">
			<div class="page-content">
				{{ template "content" .Data }}
			</div>
		</main>
		</div>
	</body>
</html>
